<header class="sticky top-0 z-50 flex justify-between bg-white p-5 items-center text-gray-800 shadow-md">
    <!-- <div class="flex items-center gap-2 text-2xl font-semibold text-red-500">
        <i class="bi bi-car-front-fill"></i>
        <div>Carsties Auctions</div>

    </div> -->
    <a href="#" (click)="onLogoClick(); $event.preventDefault()"
        class="flex items-center gap-2 text-2xl font-semibold text-red-500 cursor-pointer">
        <i class="bi bi-car-front-fill"></i>
        <div>Carsties Auctions</div>
    </a>
    <div class="shadow-sm w-1/3">

        <p-floatlabel variant="on" class="w-full">
            <div class="relative">
                <input pInputText id="search" [(ngModel)]="searchValue" (ngModelChange)="onSearch($event)" autocomplete
                    autocomplete="off" class="w-full pr-10" />
                <i class="bi bi-search absolute right-3 top-1/2 -translate-y-1/2 text-gray-500"></i>
            </div>

            <label for="search">Search</label>
        </p-floatlabel>

    </div>
    <!-- checking login -->
    @if (isAuthenticated$ | async; as auth) {

    @if (auth.isAuthenticated) {

    @if (userData$ | async; as userData) {
    <div class="flex items-center gap-3">
        <span>{{ userData.userData?.name }}</span>

        <button type="button" (click)="logout()" class="rounded bg-gray-800 px-4 py-2 text-white">
            Logout
        </button>
    </div>
    }

    } @else {

    <button type="button" (click)="login()" class="rounded bg-red-500 px-4 py-2 text-white">
        Login
    </button>

    }

    }
    <!-- checking login -->



</header>